{
    "extends": "airbnb",
    "globals": {
      "chrome": true,
      "$": true,
      "__DEVELOPMENT__": true,
      "analytics": true
    },
    "env": {
       "browser": true,
       "node": false,
       "es6": false
    },
    "ecmaFeatures": {
       "modules": false
    },
    "rules": {
        "no-console": 0,
        "strict": [2, "global"],
        "guard-for-in": 0,
        "no-eval": 0,
        "object-curly-spacing": 0,
        "max-len": [2, 119, 4, {"ignoreComments": true}],
        "no-alert": 0
    }
}
