{
    "extends": "airbnb",
    "globals": {
      "chrome": true,
      "$": true,
      "__DEVELOPMENT__": true,
      "analytics": true,
      "require": true,
      "exports": true,
      "Set": true
    },
    "env": {
       "browser": true,
       "node": false,
       "es6": true
    },
    "ecmaFeatures": {
       "modules": false
    },
    parserOptions: {
        sourceType: "script"
    },
    "rules": {
        "no-console": 0,
        "strict": [2, "global"],
        "guard-for-in": 0,
        "no-eval": 0,
        "object-curly-spacing": 0,
        "max-len": [2, 140, 4, {"ignoreComments": true}],
        "no-alert": 0,
        "no-use-before-define": [2, "nofunc"],
        "no-restricted-syntax": [
          2,
          "DebuggerStatement",
          "LabeledStatement",
          "WithStatement",
        ],
        "no-underscore-dangle": 0,
        "prefer-rest-params": 0,
        "consistent-return": 0,
        "newline-per-chained-call": 0,
        "no-continue": 0,
        "prefer-template": 0,
        "quote-props": 0
    }
}
