.dt-buttons {
    margin-left: 20px;
}

#debugQuery {
    width: 100%;
    height: 256px;
}

.jqmodal {
    max-width: max-content;
    word-break: break-word;
}


.form-control {
    display: inline-block !important;
    width: auto !important;
}

/* fix navbar-text indentation on mobile: http://stackoverflow.com/a/20411963 */
@media (max-width: 767px) {    
	p.navbar-text, p.navbar-btn {
		margin: 0;
		padding: 10px 15px;
	}
	.navbar li {
		overflow: hidden;
	}
}

/* make bullet points bigger without affecting other content */
#sorts li {
    font-size: 200%;
}

#sorts li > *{
    font-size: 50%;
}

/* match the conditions indentation */
#sorts {
    padding-left: 60px;
}
#limit-to {
    margin-left: 10px;
    width: 200px !important;
}
#pl-submit {
    margin-left: 60px;
}

.menu-button {
    width: 250px;
}

.disabled {
    opacity: 0.65;
    pointer-events: none;
}

.locked:after {
    /* The lock utf8 character. */
    content: "  \1F512";

    /* Chrome has a bug where some characters aren't shown when bolded. */
    font-weight: normal;
}

.operator, .value, .sort-by, .sort-by-order {
    width: 200px !important;
}

#conditions, #actions {
    margin: 20px 0;
}

#conditions > .conditional > .remove, #actions > .conditional > .remove {
    display: none;
}

#error_message_wrapper {
    margin: 20px 0;
}

.conditional {
    padding-left: 60px;
}

.conditional .all-any-wrapper {
    margin: 5px 20px 5px -60px;
    display: -moz-inline-stack;
    display: inline-block;
}

.all-any {
    margin-right: 10px;
}

.sort-by {
    margin-right: 10px;
}

.all-any-wrapper, .conditional, .rule {
    margin: 10px 0;
}

.add-rule, .add-condition, .remove {
    margin: auto 5px;
}

.remove {
    color: red;
}

.rule input {
    width: 200px;
}

.rule select {
    margin-right: 10px;
}

.action-buttons {
    margin: 20px 0;
}

.action {
    margin: 10px 0;
}

.action .subfields, .action .subfields .field {
    display: inline;
}

.action select, .action input, .action textarea {
    margin-right: 10px;
}

.action textarea, .action input {
    width: 250px;
}

.action textarea {
    vertical-align: top;
    height: 50px;
}

#demo-form {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 20px;
    width: 300px;
    background: #ddd;
}

#demo-form div {
    margin: 10px 0;
}

