---
layout: base
---
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- TODO rm userid in querystring; make this clickable -->
                    <a id="brand-nav" class="navbar-brand">Autoplaylists</a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a id="syncing-nav">syncing</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a id="settings-nav">settings</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text">
                            <a id="version" href="https://github.com/simon-weber/Autoplaylists-for-Google-Music/blob/master/CHANGELOG.md" target="_blank" ></a>
                            <span id="subscription"></span>
                        </p>
                    </li>
                    <li>
                        <div id="upgrade-wrapper">
                            <p class="navbar-btn">
                                <a class="btn btn-primary" href="https://github.com/simon-weber/Autoplaylists-for-Google-Music/wiki/Frequently-Asked-Questions#versions-and-upgrading" target="_blank" class="btn btn-primary menu-button">
                                    Get the full version
                                </a>
                                <button id="check-license" class="btn btn-default">I bought the full version</button>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


<div class="container">
    {{ content }}
</div>
